<!DOCTYPE html>
<html>
<head>
    <title>仕入れ先登録画面</title>
</head>
<body>
    <h1>仕入れ先登録画面</h1>
    <form action="{% url 'supplier_registration' %}" method="post">
        {% csrf_token %}
        仕入れ先ID:<input type="text" name="shiireid" required><br>
        仕入れ先名:<input type="text" name="shiiremei" required><br>
        仕入れ先住所:<input type="text" name="shiireaddress" required><br>
        仕入れ先電話番号:<input type="number" name="shiiretel" required><br>
        資本金:<input type="number" name="shihonkin" required><br>
        納期:<input type="number" name="nouki" required><br>
        <input type="submit" value="登録">
    </form>
</body>
</html>