<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>管理者画面</title>
</head>
<body>
<h1>ようこそ!管理者画面です。</h1>
<ul>
    <li><a href="{% url 'logout' %}">ログアウト</a></li>
    <li><a href="{% url 'pw_change' %}">パスワードの変更</a></li>
    <li><a href="{% url 'register' %}">従業員登録</a></li>
    <li><a href="{% url 'employee_search' %}">従業員氏名変更(従業員一覧・ID検索)</a></li>
    <li><a href="{% url 'hospital_registration' %}">他病院登録</a></li>
    <li><a href="{% url 'hospital_search' %}">他病院住所検索</a></li>
    <li><a href="{% url 'supplier_registration' %}">仕入れ先登録</a></li>
    <li><a href="{% url 'supplier_list' %}">仕入れ先一覧</a></li>
    <li><a href="{% url 'supplier_search' %}">仕入れ先住所検索</a></li>
</ul>
</body>
</html>